html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#booker {
    background-image: url(/img/booker.png);
    background-size: 60%;
    background-repeat: no-repeat;
    top: -115px;
    position: absolute;
    left: 45%;
    width: 200px;
    height: 160px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title p {
  font-size: 14px;
}

.btn {
  width: 25%;
  background-color: rgba(0,0,0,0.75);
  height: 49px;
  display: inline-block;
  color: gray;
  font-size: 24px;
  border-width: thick;
  border-color: gray;
  outline: none;
}
